ENV="__ENV__"
SECRET_KEY="__SECRET_KEY__"
DB_NAME="__DB_NAME__"
DB_USERNAME="__DB_USERNAME__"
DB_PASSWORD="__DB_PASSWORD__"
DB_HOST="__DB_HOST__"
DB_PORT="__DB_PORT__"
CORS_ALLOWED_ORIGINS="__CORS_ALLOWED_ORIGINS__"
HOST="__HOST__"
DEFAULT_TENANT_HOST="__DEFAULT_TENANT_HOST__"
CELERY_BROKER_URL="__CELERY_BROKER_URL__"
EMQX_HOST="__EMQX_HOST__"
USERNAME="__USERNAME__"
PASSWORD="__PASSWORD__"
TELEMETRY_SERVICE_URL="__TELEMETRY_SERVICE_URL__"